<!--<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>题库列表</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="page-title">
                    <div class="title_left">
                        <h3>题库列表</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜索...">
                                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="x_content">
                <!--<div class="no-data">o(╥﹏╥)o 暂无数据</div>-->
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action my-table">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">ID </th>
                            <th class="column-title">标题 </th>
                            <th class="column-title">类型 </th>
                            <th class="column-title">状态 </th>
                            <th class="column-title">创建时间 </th>
                            <th class="column-title no-link last">操作 </th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr class="odd pointer">
                                <td class=" ">1</td>
                                <td class=" ">中国首都是哪里</td>
                                <td class=" ">单选</td>
                                <td class=" ">可用</td>
                                <td class=" ">2018-11-12 09:00:00</td>
                                <td class=" ">
                                    <a href="" class="btn btn-primary">查看</a>
                                    <a href="" class="btn btn-danger">删除</a>
                                </td>
                            </tr>

                            <tr class="even pointer">
                                <td class=" ">2</td>
                                <td class=" ">中国首都是哪里</td>
                                <td class=" ">单选</td>
                                <td class=" ">可用</td>
                                <td class=" ">2018-11-12 09:00:00</td>
                                <td class=" ">
                                    <a href="" class="btn btn-primary">查看</a>
                                    <a href="" class="btn btn-danger">删除</a>
                                </td>
                            </tr>

                            <tr class="odd pointer">
                                <td class=" ">3</td>
                                <td class=" ">中国首都是哪里</td>
                                <td class=" ">单选</td>
                                <td class=" ">可用</td>
                                <td class=" ">2018-11-12 09:00:00</td>
                                <td class=" ">
                                    <a href="" class="btn btn-primary">查看</a>
                                    <a href="" class="btn btn-danger">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pages">
                    <ul class="pagination">
                        <li><a href="?page=1">&laquo;</a></li>
                        <li><a href="?page=1">1</a></li>
                        <li class="active"><span>2</span></li>
                        <li class="disabled"><span>&raquo;</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>