<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>CiiC后台管理系统</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    欢迎访问CiiC后台管理系统！
                </div>
            </div>
        </div>
    </div>

</div>
{include file="public/script" /}
